{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
    Qualified
{% endblock %}

{% block content %}

<p>
    Congratulations! You meet the criteria to participate in the full study.
</p>

<p>
    This study will take up to 15 minutes, pay a bonus of 1 dollar plus additional amount depending on your decisions
    in the study.
</p>

<p>
    Make sure that you are not distracted for the next 15 minutes. When you are ready, click the following link to begin.
</p>

<p>
    <a href="https://glacial-anchorage-11411.herokuapp.com/room/experiment/">Begin Study</a>
</p>

{% endblock %}
