{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load static otree %}

{% block title %}
    Enter your information
{% endblock %}

{% block content %}

    Please enter the following information.

    {% formfield player.mturkid label="MTurk Worker ID" %}

    {% formfield player.gender label="Gender you closely identify with" %}

    {% formfield player.race label="Race you closely identify with" %}

    {% formfield player.age label="How old are you" %}

    {% formfield player.education label="Highest education level reached" %}

<p>
    Use your web-camera to take a picture that is as close as possible to the sample picture shown
    below. Make sure you follow these guidelines when taking a photo;
</p>

<p>
    1. Your face must NOT be visible in the picture.
</p>

<p>
    2. You must NOT show any jewelry/watches/tattoos/markings etc. on the picture.
</p>

<p>
    3. Use a plain background.
</p>
<figure>
    <a href='#' style='display:scroll; bottom:70px; right:0px;'>
       <img src="{% static '/demographic_survey/SamplePhoto.jpg' %}" width="350px" height="220px" alt="Sample Picture" title="Sample Picture">
    </a>
    <figcaption><b>Sample Picture</b></figcaption>
</figure>

<p>
    You may take multiple photos, click next only when you are satisfied with the picture shown on the right.
    <b>Your HIT may NOT be approved if your photo does not meet one or more of the above guidelines. </b>
</p>

  <div class="row well-lg">
    <div  class="col-md-5" id="my_camera" style="width:320px; height:240px;"></div>
    <div  class="col-md-2">

    </div>
    <div  class="col-md-5" id="my_result"></div>
</div>

<input type="hidden" name="testimage" required id="id_testimage" class="form-control">

<div  class="row">
<div  class="col-md-12">
<button type="button" class="btn btn-danger" id='make_photo'>Take photo!</button>
</div>
</div>
<br>
<div  class="row">
  <div  class="col-md-12">
    {% next_button %}
    </div>
    </div>

{% endblock %}

{% block scripts %}
<script src='{% static "demographic_survey/newcamera/webcam.js" %}' type="text/javascript"></script>
<script>

$(function() {
    $("#make_photo").click( function()
         {
          take_snapshot();
         }
    );
});

</script>



<script language="JavaScript">
  Webcam.attach( '#my_camera' );

  function take_snapshot() {
    Webcam.snap( function(data_uri) {
      document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
      document.getElementById('id_testimage').value = data_uri;
    } );
  }
</script>



{% endblock %}
{% block styles %}

{% endblock %}
