{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
    Round {{ player.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
<p>
    In this period, you are matched with a random worker. You will select a wage offer for a worker by drawing a ball
    from the jar below. But before you draw the ball, please state the wage that you would have offered to the worker
    if you could offer any wage of your choice;
</p>

You proposed a wage of <b>{{ group.proposed_wage }}.</b>

The selected wage for worker in this period is <b>{{ group.random_wage }} points</b>

    {% formfield group.expected_effort label="Based on the selected wage, what effort do you expect the worker to choose." %}

    {% next_button %}

    {% if player.id_in_group == 1 %}
    {% include 'gift_exchange/InstructionsForEmployerBaseline.html' %}
    {% endif %}

    {% if player.id_in_group == 2 %}
    {% include 'gift_exchange/InstructionsForWorkerBaseline.html' %}
    {% endif %}


    <!--{% include 'gift_exchange/InstructionsForEmployerBaseline.html' %}-->

{% endblock %}